h1, h2, h3, h4 {
  font-size: large;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

p {
  color: #848484;
  margin-bottom: 0;
  font-weight: bold;
}

.some-color {
  color: #000000f3; /* black */
  font-weight: bold;
}