.spacer {
    flex: 1 1 auto;
  }

  .title {
    cursor: pointer;
  }

  .welcome-text {
    font-size: smaller;
  }

  p {
    margin-bottom: 0;
    font-weight: bold;
  }
  
  p {
    color: #98e2f3;
  }