<app-page-header icon="home">
    <h2>Home</h2>

    <button style="float: right;" type="button" 
      color="primary"
      class="action">
      <img class="logo" src="./assets/img/logos/fasay.png" alt="Logo">
    </button>

  </app-page-header>


  <div class="home-container">
    <header class="header">
      <h1>Cooperativa de Ahorro y Crédito Fasayñan LTDA.</h1>
      <nav class="nav">
        <ul>
          <li><a href="https://coopfasaynan.fin.ec/">Inicio</a></li>
          <li><a href="https://coopfasaynan.fin.ec/servicios">Servicios</a></li>
          <li><a href="https://app.coopfasaynan.fin.ec:8082/Simulador/">Simulador</a></li>
          <li><a href="https://coopfasaynan.fin.ec/contacto">Contacto</a></li>
        </ul>
      </nav>
    </header>
  
    <section class="welcome">
      <h2>Bienvenidos a COAC Fasayñan LTDA.</h2>
      <p>En la Cooperativa Fasayñan, nos dedicamos a ayudarte a alcanzar tus metas financieras mediante servicios de ahorro y crédito confiables y accesibles.</p>
      <button>Únete a Nosotros</button>
    </section>
  
    <section class="services">
      <h2>Nuestros Servicios</h2>
      <div class="service-cards">
        <div class="card">
          <h3>Ahorros</h3>
          <p>Planes de ahorro flexibles para ayudarte a construir tu futuro.</p>
        </div>
        <div class="card">
          <h3>Créditos</h3>
          <p>Créditos accesibles con tasas competitivas para tus necesidades.</p>
        </div>
        <div class="card">
          <h3>Pagos de Servicios</h3>
          <p>Pague sus servicios de una variedad de productos que ofrece la Cooperativa.</p>
        </div>
      </div>
    </section>
  
    <footer class="footer">
      <p>&copy; 2024 Cooperativa Fasayñan. Todos los derechos reservados.</p>
      <p class="developer">Developer by: Ing. Johnny M. Espinoza H.</p>
    </footer>
  </div>
